.card {
  background-color: whitesmoke;
  border: 5px solid teal;
  border-radius: 10px;
  color: teal;
  padding: 5px;
}

button {
  color: whitesmoke;
  background-color: teal;
  border: none;
}

.card-display {
  display:flex;
  flex-flow: wrap row;

}